<div class="col-md-4">
    <div class="panel user-group-widget admin-form theme-primary panel-primary panel-border top">
        <div class="panel-heading" style="height: 55px; padding-bottom: 5px; padding-top: 0px; padding-right: 8px">
            <span class="panel-icon">
                <i class="fa fa-users"></i>
            </span>
            <span class="panel-title fs20 pl5"> Amigos (12)</span>
            <div class="widget-menu pull-right" style="padding-top: 5px">
                <div class="input-group">
                    <label class="field prepend-icon">
                    <input id="friend_search" type="text" class="gui-input input-sm" placeholder="Procurar amigo...">
                        <label for="website" class="field-icon">
                          <i class="fa fa-search"></i>
                        </label>
                    </label>
                </div>
            </div>
        </div>
        <div class="panel-body panel-scroller scroller-overlay pn" style="max-height: 261px;">
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/1.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="text-dev fs10" style="margin-top: 3px">
                                Sync
                            </h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/2.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="text-dev fs10" style="margin-top: 3px">With</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/3.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="fs10" style="margin-top: 3px">Userrrrrrrrr</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/4.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="text-admin fs10" style="margin-top: 3px">ReDKiiL</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/5.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="fs10" style="margin-top: 3px">Userraandom</h4>
                        </div>
                    </a>
                </div>
            </div>
            <div class="friend_item mt20">
                <div class="col-md-2">
                    <a href="user_profile.html" class="link-unstyled">
                        <img src="assets/img/avatars/6.jpg" class="user-avatar" style="width: 134px;">
                        <div class="caption">
                            <h4 class="text-admin fs10" style="margin-top: 3px">ReDKiiL</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
