<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <title>PC:RPG | Punições</title>
        <meta name="keywords" content="RPG Paradise City SAMP SA:MP GTA San Andreas" />
        <meta name="description" content="Paradise City RPG">
        <meta name="author" content="Paradise Devs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="‪#009dc7">

        <!-- Stylesheets -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
        <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
        <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">

        <!-- Plugins -->
        <link rel="stylesheet" type="text/css" href="vendor/plugins/magnific/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="vendor/plugins/datatables/media/css/dataTables.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="vendor/plugins/datatables/extensions/Editor/css/dataTables.editor.css">
        <link rel="stylesheet" type="text/css" href="vendor/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.ico">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="sb-l-o sb-r-c onload-check mobile-view tray-rescale">
        <!-- Start: Main -->
        <div id="main">
            <!-- Start: Header -->
            <header class="navbar navbar-fixed-top navbar-shadow bg-primary">
                <div class="navbar-branding dark bg-primary">
                    <a class="navbar-brand" href="dashboard.html">
                    <strong>PC</strong>RPG
                    </a>
                    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown menu-merge">
                        <div class="navbar-btn btn-group">
                            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                                <span class="ad ad-radio-tower fs14 va-m"></span>
                                <span class="badge">5</span>
                            </button>
                            <div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
                                <div class="panel mbn">
                                    <div class="panel-menu">
                                        <div class="btn-group btn-group-justified btn-group-nav" role="tablist">
                                            <a href="#nav-tab1" data-toggle="tab" class="btn btn-default btn-sm active">Notificações</a>
                                            <a href="#nav-tab2" data-toggle="tab" class="btn btn-default btn-sm br-l-n br-r-n">Mensagens</a>
                                            <a href="#nav-tab3" data-toggle="tab" class="btn btn-default btn-sm">Atividade</a>
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroller scroller-navbar pn">
                                        <div class="tab-content br-n pn">
                                            <div id="nav-tab1" class="tab-pane active" role="tabpanel">
                                                <div class="media">
                                                    <a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">Article
                                                            <small class="text-muted">- 08/16/22</small>
                                                        </h5>
                                                        Last Updated 36 days ago by
                                                        <a class="text-system" href="#"> Max </a>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
                                                    <div class="media-body">
                                                        <h5 class="media-heading">Article
                                                            <small class="text-muted">- 08/16/22</small>
                                                        </h5>
                                                        Last Updated 36 days ago by
                                                        <a class="text-system" href="#"> Max </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="nav-tab3" class="tab-pane" role="tabpanel">
                                                <h2> Tab 3...</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center p7">
                                        <a href="#" class="link-unstyled"> Ver todas </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-divider hidden-xs">
                        <i class="fa fa-circle"></i>
                    </li>
                    <li class="dropdown menu-merge">
                        <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                            <img src="assets/img/avatars/1.jpg" alt="avatar" class="mw30 br64" />
                            <span class="hidden-xs pl15"> Los </span>
                            <span class="caret caret-tp hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                            <li class="list-group-item">
                                <a href="#" class="animated animated-short fadeInUp">
                                <span class="fa fa-envelope"></span> Mensagens
                                <span class="label label-warning">2</span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="animated animated-short fadeInUp">
                                <span class="fa fa-user"></span> Meu Perfil </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#" class="animated animated-short fadeInUp">
                                <span class="fa fa-gear"></span> Config. Conta </a>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#" class="">
                                <span class="fa fa-power-off pr5"></span> Deslogar </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <!-- End: Header -->
            <!-- Start: Sidebar -->
            <aside id="sidebar_left" class="nano nano-light affix sidebar-light">
                <!-- Start: Sidebar Left Content -->
                <div class="sidebar-left-content nano-content">
                    <!-- Start: Sidebar Header -->
                    <header class="sidebar-header">
                        <!-- Sidebar Widget - Author -->
                        <div class="sidebar-widget author-widget">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img src="assets/img/avatars/3.jpg" class="img-responsive">
                                </a>
                                <div class="media-body">
                                    <div class="media-author">Los</div>
                                    <div class="media-links" style="color: #17AE48">Developer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget - Search -->
                        <div class="sidebar-widget search-widget">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="sidebar-search" class="form-control" placeholder="Procurar usuários, grupos...">
                            </div>
                        </div>
                    </header>
                    <!-- End: Sidebar Header -->
                    <!-- Start: Sidebar Menu -->
                    <ul class="nav sidebar-menu">
                        <li class="sidebar-label pt20">Início</li>
                        <li>
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="sidebar-title">Início</span>
                            </a>
                        </li>
                        <li>
                            <a href="market_index.html">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="sidebar-title">Loja</span>
                            </a>
                        </li>
                        <!-- Sidebar: Patrimônio -->
                        <li class="sidebar-label pt15">Patrimônio</li>
                        <li>
                            <a class="accordion-toggle">
                                <span class="glyphicon glyphicon-plane"></span>
                                <span class="sidebar-title">Transporte</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li>
                                    <a href="vehicles_index.html">
                                        <span class="fa fa-car"></span>
                                        Terrestre <span class="label label-xs bg-primary">0/6</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="airplanes_index.html">
                                        <span class="fa fa-fighter-jet"></span>
                                        Aéreo <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ships_index.html">
                                        <span class="fa fa-ship"></span>
                                        Marítimo <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-toggle">
                                <span class="fa fa-building"></span>
                                <span class="sidebar-title">Propriedades</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li>
                                    <a href="home_index.html">
                                        <span class="fa fa-home"></span>
                                        Moradia <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="buzz_index.html">
                                        <span class="fa fa-briefcase"></span>
                                        Empresa <span class="label label-xs bg-primary">0/0</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="objects_index.html">
                                <span class="fa fa-laptop"></span>
                                <span class="sidebar-title">Objetos</span>
                            </a>
                        </li>
                        <!-- Sidebar: Social -->
                        <li class="sidebar-label pt15">Social</li>
                        <li>
                            <a href="player_index.html">
                                <span class="fa fa-gamepad"></span>
                                <span class="sidebar-title">Jogadores</span>
                            </a>
                        </li>
                        <li>
                            <a href="job_index.html">
                                <span class="fa fa-institution"></span>
                                <span class="sidebar-title">Emprego</span>
                            </a>
                        </li>
                        <li>
                            <a href="groups_index.html">
                                <span class="fa fa-group"></span>
                                <span class="sidebar-title">Grupos</span>
                            </a>
                        </li>
                        <li>
                            <a href="ranking_index.html">
                                <span class="fa fa-list"></span>
                                <span class="sidebar-title">Ranking</span>
                            </a>
                        </li>
                        <li class="active">
                            <a href="punishments_index.html">
                                <span class="fa fa-eye"></span>
                                <span class="sidebar-title">Punições</span>
                            </a>
                        </li>
                        <!-- Sidebar: Suporte -->
                        <li class="sidebar-label pt20">Suporte</li>
                        <li>
                            <a href="ticket_index.html">
                                <span class="fa fa-question"></span>
                                <span class="sidebar-title">Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a href="complaint_index.html">
                                <span class="fa fa-flag"></span>
                                <span class="sidebar-title">Denúncias</span>
                            </a>
                        </li>
                        <li>
                            <a href="faq_index.html">
                                <span class="fa fa-info"></span>
                                <span class="sidebar-title">FAQ</span>
                            </a>
                        </li>
                        <!-- Sidebar: Char Status -->
                        <li class="sidebar-label pt25 pb10">Status</li>
                        <li class="sidebar-stat">
                            <a href="#projectOne" class="fs11">
                                <span class="fa fa-inbox text-info"></span>
                                <span class="sidebar-title text-muted">XP (Personagem)</span>
                                <span class="pull-right mr20 text-muted">35%</span>
                                <div class="progress progress-bar-xs mh20 mb10">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                        <span class="sr-only">35% completo</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-stat">
                            <a href="#projectOne" class="fs11">
                                <span class="fa fa-dropbox text-warning"></span>
                                <span class="sidebar-title text-muted">XP (Emprego)</span>
                                <span class="pull-right mr20 text-muted">62%</span>
                                <div class="progress progress-bar-xs mh20">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                                        <span class="sr-only">62% completo</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- End: Sidebar Left Menu -->
                    <!-- Start: Sidebar Collapse Button -->
                    <div class="sidebar-toggle-mini">
                        <a href="#">
                            <span class="fa fa-sign-out"></span>
                        </a>
                    </div>
                    <!-- End: Sidebar Collapse Button -->
                </div>
                <!-- End: Sidebar Left Content -->
            </aside>
            <!-- Start: Content-Wrapper -->
            <section id="content_wrapper">
                <!-- Start: Topbar -->
                <header id="topbar" class="alt affix">
                    <div class="topbar-left">
                        <ol class="breadcrumb">
                            <li class="crumb-active">
                                <a href="#">UCP</a>
                            </li>
                            <li class="crumb-icon">
                                <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span>
                                </a>
                            </li>
                            <li class="crumb-trail">Punições</li>
                        </ol>
                    </div>
                </header>
                <!-- End: Topbar -->
                <!-- Begin: Content -->
                <section id="content" class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel panel-primary mb50 panel-border top">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                        <span class="fa fa-fire"></span>Notificações
                                    </span>
                                    <div class="widget-menu pull-right mr10">
                                        <div class="progress progress-bar" style="width: 120px; margin-top: 13%">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%;">3/5</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body panel-scroller scroller-sm pn">
                                    <blockquote class="blockquote-primary" style="font-size: 95%">
                                        <p>Você foi notificado por que eu quis, é isso, valeu, flw</p>
                                        <h6>Administrador: <a href="user_profile.html">Larceny</a></h6>
                                    </blockquote>
                                    <hr class="short alt">
                                    <blockquote class="blockquote-primary" style="font-size: 95%">
                                        <p>Você foi notificado por que eu também quis, é isso, valeu, flw</p>
                                        <h6>Administrador: <a href="user_profile.html">With</a></h6>
                                    </blockquote>
                                    <hr class="short alt">
                                    <blockquote class="blockquote-primary" style="font-size: 95%">
                                        <p>Eu também</p>
                                        <h6>Administrador: <a href="user_profile.html">Los</a></h6>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <span class="panel-title"><i class="fa fa-info"></i> Informações</span>
                                </div>
                                <div class="panel-body panel-scroller scroller-sm pn">
                                    <p class="p2">
                                        <ul>
                                            <li>Com <strong>5</strong> notificações você é banido automaticamente por 7 dias.</li>
                                            <li>Você pode ter até 4 banimentos temporários antes de ser banido permanentemente (isto não quer dizer que você não possa ser banido permanentemente antes de ser banido temporariamente)</li>
                                            <li>Banimentos temporários podem durar até <strong>7</strong> dias.</li>
                                            <li>Você pode ser preso por até <strong>24</strong> horas.</li>
                                            <li>Você pode ser enviado para o underworld por até <strong>24</strong> horas.</li>
                                            <li>Só é possível contestar banimentos.</li>
                                            <li>Não utilize tickets para contestar banimentos.</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="pading-top: 1%">
                        <div class="col-md-12">
                            <div class="panel panel-primary panel-border top">
                                <div class="panel-heading">
                                    <span class="panel-title">
                                    <span class="fa fa-eye"></span>Minhas Punições</span>
                                </div>
                                <div class="panel-body pn">
                                    <div class="bs-component">
                                        <table class="table table-hover" id="datatable" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Tipo</th>
                                                    <th>Quando</th>
                                                    <th>Expira Em</th>
                                                    <th>Administrador</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><a type="button" class="modal-launcher btn btn-xs btn-primary btn-gradient dark" href="#modal-details-contest" data-effect="mfp-with-fade">#213</a></td>
                                                    <td>Banimento</td>
                                                    <td>3 dias atrás</td>
                                                    <td>Nunca</td>
                                                    <td>Servidor</td>
                                                </tr>
                                                <tr class="text-muted">
                                                    <td><a type="button" class="modal-launcher btn btn-xs btn-primary btn-gradient dark" href="#modal-details-contest" data-effect="mfp-with-fade">#209</a></td>
                                                    <td>Banimento</td>
                                                    <td>3 dias atrás</td>
                                                    <td>Expirado</td>
                                                    <td><a href="user_profile.html">Los</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a type="button" class="modal-launcher btn btn-xs btn-primary btn-gradient dark" href="#modal-details" data-effect="mfp-with-fade">#200</a></td>
                                                    <td>Expulsão</td>
                                                    <td>3 dias atrás</td>
                                                    <td>-</td>
                                                    <td><a href="user_profile.html">With</a></td>
                                                </tr>
                                                <tr>
                                                    <td><a type="button" class="modal-launcher btn btn-xs btn-primary btn-gradient dark" href="#modal-details" data-effect="mfp-with-fade">#154</a></td>
                                                    <td>Remoção de Cargo</td>
                                                    <td>3 dias atrás</td>
                                                    <td>-</td>
                                                    <td><a href="user_profile.html">Larceny</a></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End: Content -->
                <!-- Begin: Page Footer -->
                <footer id="content-footer" class="affix">
                    <div class="row">
                        <div class="col-md-6">
                            <span class="footer-legal">© 2012-2016 Paradise City</span>
                        </div>
                        <div class="col-md-6 text-right">
                            <span class="footer-meta">Paradise<strong>Devs</strong></span>
                            <a href="#content" class="footer-return-top">
                                <span class="fa fa-arrow-up"></span>
                            </a>
                        </div>
                    </div>
                </footer>
                <!-- End: Page Footer -->
                <!-- Begin: Modals -->
                <div id="modal-details" class="popup-basic p25 mfp-with-anim mfp-hide">
                    <blockquote class="blockquote-primary" style="font-size: 95%; margin-bottom: 2px">
                        <p>Eu te kickei por que eu quis seu maldito otário fdp troxa witch burro idiota traoxaxa sd pwq s amd o wonsa ojwqqd</p>
                        <h6>Data/Hora: 13/06/2016 - 13:13<br />
                        Expulsão<br />
                        Administrador: <a href="user_profile.html" target="_blank">Los</a></h6>
                    </blockquote>
                </div>

                <div id="modal-details-contest" class="popup-basic admin-form mfp-with-anim mfp-hide">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">
                            <i class="fa fa-info"></i>Detalhes da Punição #213</span>
                        </div>
                        <!-- end .panel-heading section -->
                        <form>
                            <div class="panel-body bg-light p25">
                                <div class="section row">
                                    <p>
                                        <blockquote class="blockquote-primary" style="font-size: 95%">
                                            <p>Eu te bani por que eu quis seu maldito otário fdp troxa witch burro idiota traoxaxa sd pwq s amd o wonsa ojwqqd</p>
                                            <h6>Data/Hora: 13/06/2016 - 13:13<br />
                                            Banimento Permanente<br />
                                            Administrador: <a href="user_profile.html" target="_blank">Los</a></h6>
                                        </blockquote>
                                    </p>
                                    <div class="progress" style="margin-bottom: 1%;">
                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">2 dias restantes</div>
                                    </div>
                                    <div class="status" style="margin-top: 1%; font-size: 11px; color: #AAB5BC; font-weight: 600; text-transform: uppercase; display: block;">
                                        <div class="status-title" style="float: left; display: inline-block;"> tempo restante </div>
                                        <div class="status-number" style="float: right; display: inline-block;"> 3 de 5 dias </div>
                                    </div>
                                </div>
                                <div class="section-divider mb40" id="spy1">
                                    <span style="color: #4a89dc;">Contestar</span>
                                </div>
                                <div class="section">
                                    <label for="comment" class="field prepend-icon">
                                        <textarea class="gui-textarea" id="comment" name="comment" placeholder="Por que estamos errados em te punir?"></textarea>
                                        <label for="comment" class="field-icon">
                                            <i class="fa fa-comments"></i>
                                        </label>
                                        <span class="input-footer">Seja gentil e prometemos análisar o seu caso.</span>
                                    </label>
                                </div>
                            </div>
                            <!-- end .form-body section -->
                            <div class="panel-footer">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-send"></i> Enviar Contestação</button>
                            </div>
                            <!-- end .form-footer section -->
                        </form>
                    </div>
                    <!-- end: .panel -->
                </div>
                <!-- End: Modals -->
            </section>
        </div>
        <!-- End: Main -->

        <!-- BEGIN: PAGE SCRIPTS -->
        <!-- jQuery -->
        <script src="vendor/jquery/jquery-1.11.1.min.js"></script>
        <script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
        <script src="vendor/plugins/magnific/jquery.magnific-popup.js"></script>

        <!-- Datatables -->
        <script src="vendor/plugins/datatables/media/js/jquery.dataTables.js"></script>
        <script src="vendor/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
        <script src="vendor/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
        <script src="vendor/plugins/datatables/media/js/dataTables.bootstrap.js"></script>

        <!-- Theme Javascript -->
        <script src="assets/js/utility/utility.js"></script>
        <script src="assets/js/demo/demo.js"></script>
        <script src="assets/js/main.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
                "use strict";

                // Init Theme Core
                Core.init();

                $('.modal-launcher').magnificPopup({ type: 'inline', mainClass: 'mfp-flipInX' });

                // Init DataTables
                $('#datatable').dataTable({
                    "sDom": 't<"dt-panelfooter clearfix"ip>',
                    "scrollY": 150,
                    "oTableTools": {
                        "sSwfPath": "vendor/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf"
                    },
                    "language": {
                        "info": "Mostrando _START_ até _END_ de _TOTAL_ registros",
                        "paginate": {
                            "first":      "Primeiro",
                            "previous":   "Anterior",
                            "next":       "Próximo",
                            "last":       "Último"
                        }
                    }
                });
            });
        </script>
        <!-- END: PAGE SCRIPTS -->
    </body>
</html>
