<!DOCTYPE html>
<html>
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <title>PC:RPG | Meu Perfil</title>
        <meta name="keywords" content="RPG Paradise City SAMP SA:MP GTA San Andreas" />
        <meta name="description" content="Paradise City RPG">
        <meta name="author" content="Paradise Devs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="‪#009dc7">

        <!-- Stylesheets -->
        <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
        <link rel="stylesheet" type="text/css" href="assets/skin/default_skin/css/theme.css">
        <link rel="stylesheet" type="text/css" href="assets/admin-tools/admin-forms/css/admin-forms.css">
        <link rel="stylesheet" type="text/css" href="assets/fonts/icomoon/icomoon.css">
        <link rel="stylesheet" type="text/css" href="vendor/plugins/select2/css/core.css">

        <!-- Favicon -->
        <link rel="shortcut icon" href="assets/img/favicon.ico">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="sb-l-o sb-r-c onload-check mobile-view tray-rescale">
        <!-- Start: Main -->
        <div id="main">
            <!-- Start: Header -->
            <header class="navbar navbar-fixed-top navbar-shadow bg-primary">
                <div class="navbar-branding dark bg-primary">
                    <a class="navbar-brand" href="dashboard.html">
                    <b>PC</b>RPG
                    </a>
                    <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown menu-merge">
                        <div class="navbar-btn btn-group">
                            <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                                <span class="fa fa-bell-o fs14 va-m"></span>
                                <span class="badge">5</span>
                            </button>
                            <div class="dropdown-menu dropdown-persist w350" role="menu">
                                <div class="panel mbn">
                                    <div class="panel-menu">
                                        <div class="btn-group btn-group-justified btn-group-nav" role="tablist">
                                            <a href="#nav-tab1" data-toggle="tab" class="btn btn-default btn-sm active">Notificações</a>
                                            <a href="#nav-tab2" data-toggle="tab" class="btn btn-default btn-sm br-l-n br-r-n">Mensagens</a>
                                            <a href="#nav-tab3" data-toggle="tab" class="btn btn-default btn-sm">Atividade</a>
                                        </div>
                                    </div>
                                    <div class="panel-body panel-scroller scroller-navbar pn">
                                        <div class="tab-content br-n pn">
                                            <div id="nav-tab1" class="tab-pane active" role="tabpanel">
                                                <div class="media">
                                                    <a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">Article
                                                            <small class="text-muted">- 08/16/22</small>
                                                        </h5>
                                                        Last Updated 36 days ago by
                                                        <a class="text-system" href="#"> Max </a>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <a class="media-left" href="#"> <img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading">Article
                                                            <small class="text-muted">- 08/16/22</small>
                                                        </h5>
                                                        Last Updated 36 days ago by
                                                        <a class="text-system" href="#"> Max </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="nav-tab3" class="tab-pane" role="tabpanel">
                                                <h2> Tab 3...</h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer text-center p7">
                                        <a href="#" class="link-unstyled"> Ver todas </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="menu-divider hidden-xs">
                        <i class="fa fa-circle"></i>
                    </li>
                    <li class="dropdown menu-merge">
                        <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                            <img src="assets/img/avatars/1.jpg" alt="avatar" class="mw30 br64" />
                            <span class="hidden-xs pl15"> Los </span>
                            <span class="caret caret-tp hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                            <li class="list-group-item">
                                <a href="#">
                                <span class="fa fa-envelope"></span> Mensagens
                                <span class="label label-warning">2</span>
                                </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                <span class="fa fa-user"></span> Meu Perfil </a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">
                                <span class="fa fa-gear"></span> Config. Conta </a>
                            </li>
                            <li class="dropdown-footer">
                                <a href="#" class="">
                                <span class="fa fa-power-off pr5"></span> Deslogar </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </header>
            <!-- End: Header -->
            <!-- Start: Sidebar -->
            <aside id="sidebar_left" class="nano nano-light affix sidebar-light">
                <!-- Start: Sidebar Left Content -->
                <div class="sidebar-left-content nano-content">
                    <!-- Start: Sidebar Header -->
                    <header class="sidebar-header">
                        <!-- Sidebar Widget - Author -->
                        <div class="sidebar-widget author-widget">
                            <div class="media">
                                <a class="media-left" href="#">
                                    <img src="assets/img/avatars/3.jpg" class="img-responsive">
                                </a>
                                <div class="media-body">
                                    <div class="media-author">Los</div>
                                    <div class="media-links" style="color: #17AE48">Developer</div>
                                </div>
                            </div>
                        </div>
                        <!-- Sidebar Widget - Search -->
                        <div class="sidebar-widget search-widget">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input type="text" id="sidebar-search" class="form-control" placeholder="Procurar usuários, grupos...">
                            </div>
                        </div>
                    </header>
                    <!-- End: Sidebar Header -->
                    <!-- Start: Sidebar Menu -->
                    <ul class="nav sidebar-menu">
                        <li class="sidebar-label pt20">Início</li>
                        <li class="active">
                            <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span>
                                <span class="sidebar-title">Início</span>
                            </a>
                        </li>
                        <li>
                            <a href="market_index.html">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                <span class="sidebar-title">Loja</span>
                            </a>
                        </li>
                        <!-- Sidebar: Patrimônio -->
                        <li class="sidebar-label pt15">Patrimônio</li>
                        <li>
                            <a class="accordion-toggle">
                                <span class="glyphicon glyphicon-plane"></span>
                                <span class="sidebar-title">Transporte</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li>
                                    <a href="vehicles_index.html">
                                        <span class="fa fa-car"></span>
                                        Terrestre <span class="label label-xs bg-primary">0/6</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="airplanes_index.html">
                                        <span class="fa fa-fighter-jet"></span>
                                        Aéreo <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="ships_index.html">
                                        <span class="fa fa-ship"></span>
                                        Marítimo <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="accordion-toggle">
                                <span class="fa fa-building"></span>
                                <span class="sidebar-title">Propriedades</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li>
                                    <a href="home_index.html">
                                        <span class="fa fa-home"></span>
                                        Moradia <span class="label label-xs bg-primary">0/1</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="buzz_index.html">
                                        <span class="fa fa-briefcase"></span>
                                        Empresa <span class="label label-xs bg-primary">0/0</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="objects_index.html">
                                <span class="fa fa-laptop"></span>
                                <span class="sidebar-title">Objetos</span>
                            </a>
                        </li>
                        <!-- Sidebar: Social -->
                        <li class="sidebar-label pt15">Social</li>
                        <li>
                            <a href="player_index.html">
                                <span class="fa fa-gamepad"></span>
                                <span class="sidebar-title">Jogadores</span>
                            </a>
                        </li>
                        <li>
                            <a href="job_index.html">
                                <span class="fa fa-institution"></span>
                                <span class="sidebar-title">Emprego</span>
                            </a>
                        </li>
                        <li>
                            <a href="groups_index.html">
                                <span class="fa fa-group"></span>
                                <span class="sidebar-title">Grupos</span>
                            </a>
                        </li>
                        <li>
                            <a href="ranking_index.html">
                                <span class="fa fa-list"></span>
                                <span class="sidebar-title">Ranking</span>
                            </a>
                        </li>
                        <li>
                            <a href="punishments_index.html">
                                <span class="fa fa-eye"></span>
                                <span class="sidebar-title">Punições</span>
                            </a>
                        </li>
                        <!-- Sidebar: Suporte -->
                        <li class="sidebar-label pt20">Suporte</li>
                        <li>
                            <a href="ticket_index.html">
                                <span class="fa fa-question"></span>
                                <span class="sidebar-title">Tickets</span>
                            </a>
                        </li>
                        <li>
                            <a href="complaint_index.html">
                                <span class="fa fa-flag"></span>
                                <span class="sidebar-title">Denúncias</span>
                            </a>
                        </li>
                        <li>
                            <a href="faq_index.html">
                                <span class="fa fa-info"></span>
                                <span class="sidebar-title">FAQ</span>
                            </a>
                        </li>
                        <!-- Sidebar: Char Status -->
                        <li class="sidebar-label pt25 pb10">Status</li>
                        <li class="sidebar-stat">
                            <a href="#projectOne" class="fs11">
                                <span class="fa fa-inbox text-info"></span>
                                <span class="sidebar-title text-muted">XP (Personagem)</span>
                                <span class="pull-right mr20 text-muted">35%</span>
                                <div class="progress progress-bar-xs mh20 mb10">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                                        <span class="sr-only">35% completo</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-stat">
                            <a href="#projectOne" class="fs11">
                                <span class="fa fa-dropbox text-warning"></span>
                                <span class="sidebar-title text-muted">XP (Emprego)</span>
                                <span class="pull-right mr20 text-muted">62%</span>
                                <div class="progress progress-bar-xs mh20">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 62%">
                                        <span class="sr-only">62% completo</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- End: Sidebar Left Menu -->
                </div>
                <!-- End: Sidebar Left Content -->
            </aside>
            <!-- Start: Content-Wrapper -->
            <section id="content_wrapper">
                <!-- Start: Topbar -->
                <header id="topbar" class="affix">
                    <div class="topbar-left">
                        <ol class="breadcrumb">
                            <li class="crumb-active">
                                <a href="#">UCP</a>
                            </li>
                            <li class="crumb-icon">
                                <a href="index.html">
                                <span class="glyphicon glyphicon-home"></span>
                                </a>
                            </li>
                            <li class="crumb-trail">Meu Perfil</li>
                        </ol>
                    </div>

                    <div class="topbar-right">
                        <!-- ESSE BOTÃO É SÓ PRA VER COMO MUDA A PÁGINAS EM DIVERSOS TIPOS DE JOGADORES, REMOVA -->
                        <select id="player_select">
                            <option value="guest" selected><i class="fa fa-eye-slash"></i> Visitante</option>
                            <option value="friend"><i class="fa fa-eye-slash"></i> Amigo</option>
                            <option value="owner"><i class="fa fa-eye-slash"></i> Dono do Perfil</option>
                            <option value="banned"><i class="fa fa-eye-slash"></i> Banido</option>
                            <option value="blocked"><i class="fa fa-eye-slash"></i> Bloqueado</option>
                        </select>

                        <a href="ticket_manage.html" type="button" class="btn btn-sm btn-system btn-gradient dark">
                            <i class="fa fa-cog"></i> Gerenciar Jogador
                        </a>
                        <div class="btn-group">
                            <a id="unfriend_btn" href="#" type="button" class="btn btn-sm btn-danger btn-gradient dark">
                                <i class="fa fa-user-times"></i> Desfazer amizade
                            </a>
                            <a id="friend_btn" href="#" type="button" class="btn btn-sm btn-primary btn-gradient dark">
                                <i class="fa fa-user-plus"></i> Enviar solicitação de amizade
                            </a>
                            <a id="message_btn" href="#" type="button" class="btn btn-sm btn-info btn-gradient dark">
                                <i class="fa fa-envelope-o"></i> Enviar mensagem
                            </a>
                            <a id="accconfig_btn" href="ticket_edit.html" type="button" class="owner_player btn btn-sm btn-info btn-gradient dark">
                                <i class="fa fa-cog"></i> Configuração da conta
                            </a>
                            <a id="block_btn" href="#" type="button" class="btn btn-sm btn-info btn-gradient dark">
                                <i class="fa fa-bell-slash"></i> Bloquear
                            </a>
                            <a id="unblock_btn" href="#" type="button" class="btn btn-sm btn-success btn-gradient dark">
                                <i class="fa fa-bell"></i> Desbloquear
                            </a>
                            <a id="report_btn" href="#" type="button" class="btn btn-sm btn-warning btn-gradient dark">
                                <i class="fa fa-warning"></i> Denúnciar
                            </a>
                        </div>
                    </div>
                </header>
                <!-- End: Topbar -->
                <!-- Begin: Content -->
                <section id="content" class="animated fadeIn">
                    <div class="page-heading">
                        <div class="media clearfix">
                            <div id="blocked_info" class="alert alert-micro alert-border-left alert-danger">
                                <i class="fa fa-ban pr10"></i>
                                Usuário bloqueado.<br />
                                Usuários bloqueados por você são impossibilitados de ter qualquer contato com você. Não conseguem visualizar seu perfil ou lhe enviar mensagens privadas.
                            </div>
                            <div class="media-left pr30">
                                <a href="#">
                                    <img class="media-object mw150" src="assets/img/avatars/profile_avatar.jpg" alt="...">
                                </a>
                            </div>
                            <div class="media-body va-m">
                                <h3 class="media-heading">Los
                                    <span class="label label-rounded label-default fs12">1 - 14</span>
                                    <span class="label label-rounded label-primary fs12">15 - 29</span>
                                    <span class="label label-rounded label-info fs12">30 - 44</span>
                                    <span class="label label-rounded label-system fs12">45 - 59</span>
                                    <span class="label label-rounded label-success fs12">60 - 74</span>
                                    <span class="label label-rounded label-warning fs12">75 - 99</span>
                                    <span class="label label-rounded label-danger fs12">100 - 114</span>
                                    <span class="label label-rounded label-alert fs12">115 - 149</span>
                                    <span class="label label-rounded label-dark fs12">150+</span>
                                </h3>
                                <span class="label label-success fs12"><i class="fa fa-code"></i> desenvolvedor</span>
                                <span class="label label-danger fs12"><i class="imoon imoon-user3"></i> administrador</span>
                                <span class="label label-primary fs12"><i class="fa fa-eye"></i> supervisor</span>
                                <span class="label label-info fs12"><i class="fa fa-fire"></i> moderador</span>
                                <span class="label label-warning fs12"><i class="fa fa-star-o"></i> paradiser</span>
                                <span class="label label-dark fs12"><i class="fa fa-ban"></i> banido</span>

                                <span class="label label-default fs12"><i class="fa fa-briefcase"></i> caminhoneiro</span>
                                <span class="label label-alert fs12"><i class="imoon imoon-target"></i> ballas</span>

                                <p class="lead mt10">Lorem ipsum dolor sit amet ctetur adicing elit, sed do eiusmod tempor incididunt</p>
                                <div class="media-links">
                                    <ul class="list-inline list-unstyled">
                                        <li>
                                            <a href="#" title="facebook link">
                                                <span class="fa fa-facebook-square fs35 text-primary"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="twitter link">
                                                <span class="fa fa-twitter-square fs35 text-info"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="github link">
                                                <span class="fa fa-github-square fs35 text-dark"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" title="email link">
                                                <span class="fa fa-envelope-square fs35 text-muted"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span class="panel-icon">
                                    <i class="fa fa-list"></i>
                                </span>
                                <span class="panel-title"> Ranking</span>
                                <div class="widget-menu pull-right">
                                    <a href="ranking_index.html" style="color: #fff">ver todos</a>
                                </div>
                            </div>
                            <div class="panel-body pn">
                                <table class="table mbn tc-icon-1 tc-med-2 tc-bold-last">
                                    <thead>
                                        <tr class="hidden">
                                            <th class="mw30">#</th>
                                            <th>First Name</th>
                                            <th>Revenue</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ Tempo Jogado</td>
                                            <td>1534 horas <i class="fa fa-clock-o text-info pl5"></i></td>
                                        </tr>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ Level</td>
                                            <td>152 <i class="fa fa-angle-double-up text-info pl5"></i></td>
                                        </tr>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ XP por hora</td>
                                            <td>5232<span class="text-info">xp</span></td>
                                        </tr>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ Dinheiro</td>
                                            <td>1.392.234,00 <i class="fa fa-usd text-info pl5"></i></td>
                                        </tr>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ Patrimônio</td>
                                            <td>1.392.234,00 <i class="fa fa-usd text-info pl5"></i></td>
                                        </tr>
                                        <tr>
                                            <td><strong>#9999</strong></td>
                                            <td>+ Eventos Ganhos</td>
                                            <td>7 <i class="fa fa-trophy text-info pl5"></i></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel user-group-widget admin-form theme-primary panel-primary panel-border top">
                            <div class="panel-heading" style="height: 55px; padding-bottom: 5px; padding-top: 0px; padding-right: 8px">
                                <span class="panel-icon">
                                    <i class="fa fa-users"></i>
                                </span>
                                <span class="panel-title fs20 pl5"> Amigos (12)</span>
                                <div class="widget-menu pull-right" style="padding-top: 5px">
                                    <div class="input-group">
                                        <label class="field prepend-icon">
                                        <input id="friend_search" type="text" class="gui-input input-sm" placeholder="Procurar amigo...">
                                            <label for="website" class="field-icon">
                                              <i class="fa fa-search"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body panel-scroller scroller-overlay pn" style="max-height: 261px;">
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/1.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-system fs10" style="margin-top: 3px">
                                                    Sync
                                                </h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/2.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-system fs10" style="margin-top: 3px">With</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/3.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="fs10" style="margin-top: 3px">Userrrrrrrrr</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/4.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-danger fs10" style="margin-top: 3px">ReDKiiL</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/3.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="fs10" style="margin-top: 3px">Userraandommmm</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/4.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-danger fs10" style="margin-top: 3px">ReDKiiL</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/1.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-system fs10" style="margin-top: 3px">Sync</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/2.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-system fs10" style="margin-top: 3px">With</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/3.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="fs10" style="margin-top: 3px">User Random</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/4.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-danger fs10" style="margin-top: 3px">ReDKiiL</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/3.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="fs10" style="margin-top: 3px">Userraandommmm</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="friend_item mt20">
                                    <div class="col-md-2">
                                        <a href="user_profile.html" class="link-unstyled">
                                            <img src="assets/img/avatars/4.jpg" class="user-avatar" style="width: 134px;">
                                            <div class="caption">
                                                <h4 class="text-danger fs10" style="margin-top: 3px">Ola</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel panel-primary panel-border top">
                            <div class="panel-heading">
                                <span class="panel-title"><i class="fa fa"</span>
                            </div>
                            <div class="panel-body">
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End: Content -->
            </section>
        </div>
        <!-- End: Main -->

        <!-- BEGIN: PAGE SCRIPTS -->
        <!-- jQuery -->
        <script src="vendor/jquery/jquery-1.11.1.min.js"></script>
        <script src="vendor/jquery/jquery_ui/jquery-ui.min.js"></script>

        <!-- Select2 Plugin Plugin -->
        <script src="vendor/plugins/select2/select2.min.js"></script>

        <script src="assets/admin-tools/admin-forms/js/jquery.validate.min.js"></script>
        <script src="assets/admin-tools/admin-forms/js/additional-methods.min.js"></script>

        <!-- Theme Javascript -->
        <script src="assets/js/utility/utility.js"></script>
        <script src="assets/js/demo/demo.js"></script>
        <script src="assets/js/main.js"></script>
        <script src="assets/js/hideseek/jquery.hideseek.min.js"></script>
        <script src="assets/js/custom_profile.js"></script>
        <script type="text/javascript">
            jQuery(document).ready(function() {
              "use strict";
              // Init Theme Core
              Core.init();
            });
        </script>
        <!-- END: PAGE SCRIPTS -->
    </body>
</html>
