/*
    Custom CSS for PC:RPG theme
*/

/* RANK COLORS */
.text-dev           { color: #35A700; }
.text-admin         { color: #00AEFF; }
.text-supervisor    { color: #009CE5; }
.text-moderator     { color: #008BCC; }
.text-betatester    { color: #992A2A; }
.text-designer      { color: #E48200; }
.text-paradiser     { color: #CE8500; }

/* -----------------------------------------------------------------------------
    ABOUT US PAGE
------------------------------------------------------------------------------*/
.about-page-content {
    margin: 20px;
    padding: 10px;
    color: #fff;
    z-index: 1;

    background-size: 95% 95%;
    border-radius: 2px;
    text-shadow: 1px 1px 4px #3c3c3c;
}

.about-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../img/background/5.jpg');
}

.about-page-title {
    font-family: "Segoe UI";
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    margin: 0px;
}

/* -----------------------------------------------------------------------------
    COMING SOON PAGE
------------------------------------------------------------------------------*/
.cs-page-content {
    width:100%;
    height:100%;
    line-height: 100px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    position: absolute;
    top: 30%;
    z-index: 1;
    text-shadow: 1px 1px 30px #3c3c3c;
}

.cs-page-logo {
    text-align:center;
    vertical-align: middle;
}

.cs-page-title {
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 15px;
    color: #c3eee7;
    margin-bottom: 25px;
}

.cs-page-text {
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 20px;
    letter-spacing: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px #3c3c3c;
}

.btn-play {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);;
    box-shadow: 0px 0px 10px #3c3c3c;
}

.btn-play:hover {
    color: #6cd7ff;
}

.btn-play i{
    color: #6cd7ff;
}

/* -----------------------------------------------------------------------------
    AUTH PAGES
------------------------------------------------------------------------------*/
#demo-canvas {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../img/background/3.jpg');
    transition: background 5s linear;
    -webkit-animation: zoom 50s infinite; /* Chrome, Safari, Opera */
    animation: zoom 50s infinite;
    z-index: -255;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1, 1);
    }
    50% {
        -webkit-transform: scale(1.2,1.2);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

/* Standard syntax */
@keyframes zoom {
   0% {
        transform: scale(1, 1);
   }
   50% {
       transform: scale(1.2, 1.2);
   }
   100% {
        transform: scale(1, 1);
   }
}

#auth-footer {
    color: #AAA;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 44px;
    padding: 12px 15px;
    background-color: rgba(0, 0, 0, 0.5);;
    -webkit-transition: margin 0.2s ease;
    transition: margin 0.2s ease;
}

.footer-since {
    font-family: "Segoe UI";
    font-weight: 300;
    color: #9C9B9B;
    text-shadow: 0px 0px 3px #000;
}

.footer-separator {
    font-family: "Segoe UI";
    font-weight: 100;
    color: #505050;
    text-shadow: 0px 0px 3px #000;
}

.footer-poweredby {
    font-family: "Segoe UI";
    font-weight: 400;
    color: #505050;
    text-shadow: 0px 0px 3px #000;
}

#auth-footer a {
    font-family: "Segoe UI";
    font-weight: 100;
    color: #6cd7ff;
    text-shadow: 0px 0px 3px #000;
}

/* -----------------------------------------------------------------------------
    USER PROFILE PAGES
------------------------------------------------------------------------------*/

/* PROFILE LEVEL BADGE */
.level-circle {
    width:165px;
    height:100%;
    line-height: 223px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    left:85%;
    bottom: 1px;
}

.level-label {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size:24px;
}

.level-header {
    display: relative;
    vertical-align: top;
    line-height: normal;
    font-size:12px;
}

/* PROFILE MEMBER DATA */
.user-nickname {
    font-family: "Segoe UI";
    font-weight: 400;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 0px;
}

.user-realname {
    font-family: "Segoe UI";
    font-weight: 200;
    color: #e5e5e5;
    margin-top: 2px;
    margin-bottom: 0px;
}

.user-location {
    font-family: "Segoe UI";
    font-weight: 200;
    color: #e5e5e5;
    margin-top: 2px;
    margin-bottom: 0px;
}

/* FRIEND LIST */
.friend-nick {
    font-family: "Segoe UI";
    font-weight: 400;
    display: block;
    font-size: 14px;
}

.friend-data {
    display: block;
    font-size: 10px;
    margin-top: 0px;
}

/* -----------------------------------------------------------------------------
    ERROR PAGES
------------------------------------------------------------------------------*/
.main-error-page {
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../../img/background/1.jpg');
}

.error-page-title {
    font-size: 120px;
    font-family: "Segoe UI";
    font-weight: 50%;
    color: #fff;
    line-height: 80px;
}

.error-page-subtitle {
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 20px;
    color: #c3eee7;
    margin-bottom: 25px;
}

.error-page-text {
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}

.error-page-content {
    width:100%;
    height:40%;
    line-height: 100px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    background-color:rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 30%;
}

/* -----------------------------------------------------------------------------
    INDEX PAGE
------------------------------------------------------------------------------*/
td .news-link {
    display: block;
    width:100%
}

.news-row:hover {
    cursor: pointer;
}

/* -----------------------------------------------------------------------------
    GROUPS PAGE
------------------------------------------------------------------------------*/
.group-logo {
    border: 3px solid #CCC;
    display: block;
    width: 100%;
    max-width: 100%;
}

.group-data {
    float: right;
}

/* -----------------------------------------------------------------------------
    LAUNCHPAD PAGES
------------------------------------------------------------------------------*/
table.footable.fw-labels2 > tbody > tr > td:first-child + td .label {
  width: 100%;
  display: inline-block;
  padding: 4px 4px 6px;
  font-size: 11px;
  text-align: center;
  font-weight: 600;
  line-height: 1;
}

.launchpad-row:hover {
    cursor: pointer;
}

.comments-separator {
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 5px;
    background-color: #4A89DC;
}

.comments-pagging {
    background-size: 100%;
    text-align: center;
    vertical-align: middle;
    color: #FFF;
    font-family: "Segoe UI";
    font-weight: 100;
    font-size: 20px;
    padding: 8px;
    background-color: #eaeaea;
}
